/* HERO */

.hero-slider{
position:relative;
height:calc(100vh - 70px);
overflow:hidden;
z-index:1;
}

.slide{
position:absolute;
inset:0;
background-size:cover;
background-position:center;
opacity:0;
transition:opacity 2s ease;
}

.slide.active{
opacity:1;
}

.hero-content{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
color:white;
}

.hero-title{
font-size:52px;
line-height:1.2;
margin-bottom:30px;
text-shadow:0 4px 10px rgba(0,0,0,0.4);
}

.hero-btn{
background:white;
padding:14px 40px;
border-radius:6px;
text-decoration:none;
color:#111;
}

/* FEATURED PROJECTS */

.featured-grid{
max-width:1700px;
margin:0 auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
}

.featured-card{
text-decoration:none;
color:#111;
transition:.3s;
}

.featured-image{
aspect-ratio:4/3;
overflow:hidden;
border-radius:12px;
}

.featured-image img{
width:100%;
height:100%;
object-fit:cover;
transition:.4s;
}

.featured-card:hover img{
transform:scale(1.05);
}

.featured-info h2{
text-align:center;
margin-top:80px;
margin-bottom:50px;
font-size:28px;
font-weight:550;
}

.featured-info h3{
font-size:20px;
font-weight:600;
}

.featured-info p{
font-size:14px;
opacity:.7;
}

/* MOBILE */

@media (max-width:768px){

.hero-slider{
height:65vh;
z-index:1;
}

.hero-title{
font-size:30px;
line-height:1.2;
}

.hero-btn{
padding:12px 20px;
font-size:14px;
}

.featured-grid{
grid-template-columns:repeat(2,1fr);
gap:8px;
}

.featured-info{
font-size:22px;
font-weight:550
}

.section-title{
font-size:24px;
margin-bottom:25px;
}



}