/* NEWS GRID */

.news-grid{
max-width:1200px;
margin:auto;
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:40px;
}

/* CARD */

.news-card{
display:block;
text-decoration:none;
color:#000;
}

/* IMAGE */

.news-card img{
width:100%;
height:260px;
object-fit:cover;
border-radius:10px;
transition:0.4s;
}

/* HOVER */

.news-card:hover img{
transform:scale(1.05);
}

/* TEXT */

.news-info{
margin-top:12px;
}

.news-info h3{
font-size:20px;
margin-bottom:6px;
}

.news-info p{
font-size:14px;
color:#666;
}

@media (max-width:768px){

.news-grid{
grid-template-columns:repeat(2,1fr);
gap:8px;
}

}