/* ========================
PROJECT DETAIL
======================== */

.project-detail-container{

width:92%;
max-width:1500px;
margin:100px auto;
padding:60px 30px;
display:flex;

}


/* gallery */

.project-gallery{
display:grid;
grid-template-columns:repeat(5,1fr);
column-gap:6px;
row-gap:6px;

}

.project-gallery img{

width:100%;
aspect-ratio:1/1;
object-fit:cover;
border-radius:0px;
transition:0.3s ease;
}

.project-gallery img:hover{
transform:scale(1.01);
}

/* ========================
LIGHTBOX
======================== */

.lightbox{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
align-items:center;
justify-content:center;
z-index:100;
}

.lightbox img{
max-width:90%;
max-height:90%;
object-fit:contain;
}

.lightbox .close{
position:absolute;
top:30px;
right:40px;
font-size:40px;
color:white;
cursor:pointer;
}

.lightbox .prev,
.lightbox .next{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:40px;
color:white;
cursor:pointer;
padding:20px;
}

.lightbox .prev{
left:20px;
}

.lightbox .next{
right:20px;
}

/* ========================
MOBILE
======================== */

@media (max-width:768px){

.project-detail-container{

display:block;

padding:10px 5px;

}

.project-gallery{

grid-template-columns:repeat(3,1fr);
gap:3px;
}

.project-gallery img{
aspect-ratio:1/1;
}


.lightbox .prev,
.lightbox .next,
.lightbox .close{
display:none;
}

}