.projects-page{
width:90%;
max-width:1400px;
margin:100px auto;
display:flex;
flex-direction:column;
gap:120px;
}

.project-block{
display:flex;
gap:60px;
}

.project-block.reverse{
flex-direction:row-reverse;
}

/* GRID */

.project-grid-wrapper{
flex:5;
position:relative;
}

.project-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:4px;
}

.project-grid img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
transition:.3s;
}

/* INFO */

.project-info{
flex:3;
font-size:18px;
line-height:1.9;
max-width:420px;
}

.project-info h2{
font-size:28px;
margin-bottom:10px;
font-weight:550
}

.project-info h1{
font-size:28px;
margin-bottom:10px;
font-weight:550
}

.project-info p{
margin-bottom:12px;
font-size:18px;
font-weight:400

}

/* MORE BUTTON */

.more-overlay{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:100px;
height:100px;
border-radius:50%;
background:rgba(0,0,0,0.75);
color:white;
display:flex;
align-items:center;
justify-content:center;
font-size:18px;
opacity:0;
transition:.3s;
}

.project-grid-wrapper:hover .more-overlay{
opacity:1;
}

.project-grid-wrapper:hover img{
filter:brightness(.7);
}

@media (max-width:768px){

.projects-page{
width:92%;
gap:60px;
}

/* layout 1 cột */
.project-block{
flex-direction:column;
gap:20px;
}


/* thứ tự hiển thị */
.project-info{
order:1;
max-width:none;
}


.project-grid-wrapper{
order:2;
}

/* chỉ hiện title */


.project-info h2{
font-size:26px;
margin-bottom:10px;
}

.project-info p{
display:none;
}


/* gallery 3 ảnh / hàng */
.project-grid{
grid-template-columns:repeat(3,1fr);
gap:6px;
}

.project-grid img{
aspect-ratio:1/1;
}

/* nút more nhỏ */
.more-overlay{
width:70px;
height:70px;
font-size:14px;
}

}