.project-detail-container{
max-width:1400px;
margin:120px auto;
padding:0 5%;
}

.project-header{
margin-bottom:40px;
}

.project-title{
font-size:32px;
font-weight:600;
margin-bottom:6px;
}

/* gallery */

.detail-gallery{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:6px;
}

.detail-gallery img{
width:100%;
aspect-ratio:4/3;
object-fit:cover;
cursor:pointer;
}