/* ========================
PROJECT DETAIL
======================== */

.project-detail-container{

max-width:1400px;
margin:auto;

padding:80px 40px;

display:block;

}


/* project info */

.detail-info h1{

font-size:36px;
margin-bottom:25px;

}

.detail-info p{

margin-bottom:10px;
font-size:16px;

}

.detail-desc{

margin-top:20px;
line-height:1.7;

}


/* gallery */

.project-gallery{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:12px;

margin-top:40px;

}

.project-gallery img{

width:100%;
aspect-ratio:1/1;

object-fit:cover;

border-radius:6px;

transition:0.3s;

}

.project-gallery img:hover{

transform:scale(1.05);

}


/* ========================
MOBILE
======================== */

@media (max-width:768px){

.project-detail-container{

display:block;

padding:40px 20px;

}

.project-gallery{

grid-template-columns:repeat(2,1fr);

}

.project-gallery img{

height:160px;

}

}