{% extends "base.html" %}
{% block title %}About - H+ Studio{% endblock %}

{% block content %}

<section class="section-about">
    <h1 class="about-title">Về Chúng Tôi</h1>
    <div class="about-content">

    <p>
     Chào bạn,
    <p>

     <p>
     H+ studio rất vui khi nhận được sự quan tâm từ bạn và hy vọng sẽ có cơ hội đồng hành cùng bạn để tạo nên những công trình chất lượng, giàu giá trị thẩm mỹ và cảm xúc.
     </p>

     <p>
     Với chúng tôi, xây dựng một ngôi nhà luôn là một hành trình nghiêm túc và đầy cảm hứng. Ngay từ khi thành lập, H+ hướng đến việc tạo ra những công trình không chỉ đẹp về thẩm mỹ, hợp lý về công năng, mà còn phù hợp với khí hậu và đời sống tại khu vực Đông Nam Á, mang lại không gian sống thoải mái và gần gũi cho con người.
     </p>

     <p>
     Trước khi bắt đầu hợp tác, H+ xin chia sẻ một vài thông tin:
     </p>

     <ul class="about-list">
     <li>Thiết kế là một quá trình cần thời gian. Một bộ hồ sơ hoàn chỉnh thường mất khoảng 3–6 tháng, bao gồm concept, hồ sơ kỹ thuật và dự toán.
     <li>H+ theo đuổi kiến trúc nhiệt đới, phù hợp với điều kiện khí hậu và lối sống địa phương.
     <li>TTrong quá trình làm việc, sự lắng nghe và tin tưởng lẫn nhau là yếu tố quan trọng để cùng tạo ra giải pháp tốt nhất cho công trình.
     </ul>
     <p>
     Chúng tôi hiểu rằng không có công trình nào hoàn hảo tuyệt đối, nhưng H+ luôn nỗ lực hoàn thiện từng ngày để mang đến những giá trị tốt nhất cho khách hàng.
     </p>

     <p>
     Chân thành cảm ơn sự quan tâm của bạn!
     </p>
        
        
</section>


{% endblock %}