{% extends "base.html" %}
{% block title %}About - H+ Studio{% endblock %}

{% block content %}

<section class="section-about">
    <h1 class="page-title">Về Chúng Tôi</h1>
    <div class="about-content">

    <p>
     Chào bạn,
    <p>

     <p>
     H+ studio là một văn phòng thiết kế khiêm tốn tại Vũng Tàu, được thành lập năm 2024 bởi những con người yêu nghề.
     </p>

     <p>
     Với chúng tôi, việc triển khai một công trình từ giai đoạn thiết kế cho đến khi hoàn thiện luôn là một hành trình thú vị đầy thử thách. 
     </p>

     <p>
     Ngay từ khi thành lập, H+ định hướng đến việc tạo ra những công trình đẹp về thẩm mỹ, hài hòa công năng, và phù hợp với đặc điểm khí hậu của vùng miền là những yếu tố quan trọng nhất.
     </p>

     <p>
     Trước khi bắt đầu hợp tác, xin chia sẻ một vài thông tin:
     </p>

        <ul class="about-list">
        <li>Thiết kế là một quá trình cần thời gian. Một bộ hồ sơ hoàn chỉnh thường mất khoảng 3–6 tháng, bao gồm concept, hồ sơ kỹ thuật và dự toán.
        <li>Thế mạnh của chúng tôi là phong cách kiến trúc nhiệt đới, phong cách này phù hợp với đặc điểm khí hậu và địa lý của khu vực Đông Nam Á.
        <li>Trong quá trình làm việc, sự lắng nghe và tin tưởng lẫn nhau là yếu tố quan trọng để cùng tạo ra giải pháp tốt nhất cho công trình.
        </ul>
     <p>
     Chúng tôi hiểu rằng không có công trình nào hoàn hảo tuyệt đối, nhưng H+ luôn nỗ lực hoàn thiện từng ngày để mang đến những giá trị tốt nhất cho khách hàng.
     </p>

     <p>
     Chân thành cảm ơn sự quan tâm của bạn!
     </p>
        
        
</section>


{% endblock %}