{% extends "base.html" %}
{% block title %}H+ studio{% endblock %}

{% block content %}

<!-- HERO SLIDER -->
<section class="hero-slider">

    <div class="slides">
        <div class="slide active" style="background-image:url('/static/1.jpg');"></div>
        <div class="slide" style="background-image:url('/static/2.jpg');"></div>
        <div class="slide" style="background-image:url('/static/3.jpg');"></div>
        <div class="slide" style="background-image:url('/static/4.jpg');"></div>
        <div class="slide" style="background-image:url('/static/5.jpg');"></div>
        <div class="slide" style="background-image:url('/static/6.jpg');"></div>
        <div class="slide" style="background-image:url('/static/7.jpg');"></div>
        <div class="slide" style="background-image:url('/static/8.jpg');"></div>
        <div class="slide" style="background-image:url('/static/9.jpg');"></div>
        <div class="slide" style="background-image:url('/static/10.jpg');"></div>
        <div class="slide" style="background-image:url('/static/11.jpg');"></div>
        <div class="slide" style="background-image:url('/static/12.jpg');"></div>
        <div class="slide" style="background-image:url('/static/13.jpg');"></div>
        <div class="slide" style="background-image:url('/static/14.jpg');"></div>
        <div class="slide" style="background-image:url('/static/15.jpg');"></div>
        
    </div>

    <div class="hero-content">
        <h1 class="hero-title">Designing spaces for living.</h1>
        <a href="/contact" class="hero-btn">Contact</a>
    </div>

</section>


<!-- FEATURED PROJECTS -->
<section class="section featured-section">

    <h2 class="section-title">Highlight Projects</h2>

    <div class="featured-grid">

        {% for p in featured_projects %}

        <a href="/projects#{{ p.slug }}" class="featured-card">

            <div class="featured-image">
                <img src="{{ p.images[0] }}" alt="{{ p.title }}" loading="lazy">
            </div>

            <div class="featured-info">
                <h3>{{ p.title }}</h3>
                <p>{{ p.project_type }}</p>
            </div>

        </a>

        {% endfor %}

    </div>

</section>

<script>

const toggle = document.querySelector(".menu-toggle");
const menu = document.querySelector(".nav-links");

toggle.addEventListener("click", () => {
menu.classList.toggle("active");
});

</script>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}