{% extends "base.html" %}
{% block content %}

<head>

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/news.css">

</head>

<section class="section">

<h1 class="page-title">Tin Tức Chuyên Ngành</h1>

<div class="news-grid">

{% for n in news_list %}
<a href="{{n.link}}" target="_blank" class="news-card">

<img src="{{n.image}}" alt="{{n.title}}">

<div class="news-info">
<h3>{{n.title}}</h3>
<p>{{n.source}} • {{n.year}}</p>
</div>

</a>
{% endfor %}

</div>

</section>

<script>

const toggle = document.querySelector(".menu-toggle");
const menu = document.querySelector(".nav-links");
const overlay = document.querySelector(".menu-overlay");

toggle.onclick = () => {

menu.classList.toggle("active");
overlay.classList.toggle("active");

};

overlay.onclick = () => {

menu.classList.remove("active");
overlay.classList.remove("active");

};

</script>

{% endblock %}