{% extends "base.html" %}
{% block content %}

<div class="project-detail-container">

    <div class="detail-info">
        <h1>{{ project.title }}</h1>

        <p><strong>Project type:</strong> {{ project.Project_type }}</p>
        <p><strong>Area:</strong> {{ project.Area }}</p>
        <p><strong>Year:</strong> {{ project.Year }}</p>
        <p><strong>Design:</strong> {{ project.Design }}</p>
        <p><strong>General contractor:</strong> {{ project.Generalcontractor }}</p>
        <p><strong>Status:</strong> {{ project.Status }}</p>

        <p class="detail-desc">{{ project.description }}</p>
    </div>

    <div class="project-gallery">
        {% for img in project.images %}
            <a href="{{img}}" class="gallery-item">
            <img src="{{img}}" alt="">
            </a>
        {% endfor %}
    </div>

</div>

<!-- LIGHTBOX -->
<div id="lightbox" class="lightbox">
    <span class="close" onclick="closeLightbox()">&times;</span>

    <img id="lightbox-img">

    <span class="prev" onclick="changeImg(-1)">&#10094;</span>
    <span class="next" onclick="changeImg(1)">&#10095;</span>
</div>


<!-- JS đặt ở đây -->

<script>

let currentIndex = 0
let images = []

document.querySelectorAll(".gallery-item img").forEach((img,i)=>{
images.push(img.src)

img.addEventListener("click",function(e){
e.preventDefault()
openLightbox(i)
})
})

function openLightbox(index){
currentIndex=index
document.getElementById("lightbox").style.display="flex"
document.getElementById("lightbox-img").src=images[index]
}

function closeLightbox(){
document.getElementById("lightbox").style.display="none"
}

function changeImg(step){

currentIndex+=step

if(currentIndex<0){
currentIndex=images.length-1
}

if(currentIndex>=images.length){
currentIndex=0
}

document.getElementById("lightbox-img").src=images[currentIndex]

}


document.getElementById("lightbox").onclick=function(e){
if(e.target.id==="lightbox"){
closeLightbox()
}
}
</script>
{% endblock %}

