{% extends "base.html" %}
{% block content %}

<div class="project-detail-container">

    <div class="project-gallery">
        {% for img in project.images %}
        <a href="{{ img }}" class="gallery-item">
            <img src="{{ img }}" alt="">
        </a>
        {% endfor %}
    </div>

</div>


<!-- LIGHTBOX -->

<div id="lightbox" class="lightbox">

    <span class="close">&times;</span>

    <img id="lightbox-img">

    <span class="prev">&#10094;</span>
    <span class="next">&#10095;</span>

</div>


<script>

document.addEventListener("DOMContentLoaded", function(){

let currentIndex = 0
let images = []

const lightbox = document.getElementById("lightbox")
const lightboxImg = document.getElementById("lightbox-img")

let startX = 0
let endX = 0

document.querySelectorAll(".gallery-item").forEach((item,i)=>{

    images.push(item.href)

    item.addEventListener("click",function(e){

        e.preventDefault()

        currentIndex = i

        openLightbox()

    })

})

function openLightbox(){

    lightbox.style.display = "flex"

    lightboxImg.src = images[currentIndex]

}

function closeLightbox(){

    lightbox.style.display = "none"

}

function changeImg(step){

    currentIndex += step

    if(currentIndex < 0){
        currentIndex = images.length - 1
    }

    if(currentIndex >= images.length){
        currentIndex = 0
    }

    lightboxImg.src = images[currentIndex]

}

document.querySelector(".close").onclick = closeLightbox
document.querySelector(".prev").onclick = () => changeImg(-1)
document.querySelector(".next").onclick = () => changeImg(1)

lightbox.onclick = function(e){

    if(e.target === lightbox){
        closeLightbox()
    }

}

/* SWIPE MOBILE */

lightboxImg.addEventListener("touchstart", e=>{
startX = e.changedTouches[0].screenX
})

lightboxImg.addEventListener("touchend", e=>{

endX = e.changedTouches[0].screenX

if(endX < startX - 50){
changeImg(1)
}

if(endX > startX + 50){
changeImg(-1)
}

})

})

</script>

{% endblock %}